body {
  text-align: center;
  background-image: url("../images/cloudy.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: black;
  position: relative;
  bottom: -22px;
  font-size: 45px;
  font-family: "Comfortaa";
}

#description {
  color: black;
  font-size: 15px;
  font-weight: 900;
  position: relative;
  top: -25px;
}

#humidity,
#wind-speed {
  font-size: 15px;
  font-weight: 900;
  position: relative;
  top: -43px;
}

#humidity {
  margin-left: 23px;
  margin-right: 4px;
}

.todayDate {
  font-size: 15px;
  position: relative;
  top: -33px;
}

.col {
  text-align: center;
  border: solid;
  border-radius: 10px;
  height: 400px;
  width: 250px;
  background: rgba(100, 100, 100, 0.5);
  transition: all 1s;
}

.forecastIcons {
  margin-top: 105px;
}

.forecast-description {
  color: blue;
}
.weather-forecast-temperatures {
  position: relative;
  margin-left: 10px;
  font-weight: 500;
  font-size: 35px;
}

.min-forecast-temp {
  opacity: 0.7;
  margin-left: 25px;
}

.forecast-humidity {
  font-size: 15px;
  font-weight: 500;
  position: relative;
  margin-left: -124px;
}

.forecast-wind {
  font-size: 15px;
  font-weight: 500;
  position: relative;
  margin-right: -120px;
  margin-top: -23px;
}

.forecast-day {
  position: relative;
  top: 70px;
  margin-left: 2px;
  font-family: "Amatic SC", cursive;
  font-size: 32px;
  border: solid;
  background: rgba(211, 187, 140, 0.632);
}

::-webkit-input-placeholder {
  text-align: center;
}

input {
  border-radius: 20px;
  text-align: center;
}

#current-location {
  background: transparent;
  border-block-color: transparent;
  border-left: none;
  border-right: none;
  position: relative;
  top: 69px;
  right: 53px;
  left: -105px;
  font-size: 18px;
}

#search-button {
  background: transparent;
  border-block-color: transparent;
  border-left: none;
  border-right: none;
}

#search-form {
  margin-top: 41px;
  margin-right: -40px;
}

.col:hover {
  cursor: pointer;
  height: 401px;
  padding: 26px;
}

.fa-solid:hover {
  cursor: pointer;
  color: burlywood;
}

#git-link {
  color: cornsilk;
  position: absolute;
  margin-left: -710px;
  margin-top: 0px;
}

#git-link:hover {
  color: rgb(226, 132, 55);
}
